* {
    box-sizing: border-box;
}

body {
    font-family: "Karla", sans-serif;
    margin: 0;
    background-color: #2b2b2b;
}

main {
    padding: 36px;
    max-width: 800px;
    margin: 0 auto;
    background-color: #F4F1F0;
    border-radius: 10px;
    border: 2px solid #3E8EF7;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    align-items: center;
    height: 65px;
    background: linear-gradient(90deg, #3E8EF7 1.18%, #00A1C1 100%);
    color: white;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.header--image {
    height: 100%;
    margin-right: 6px;
}

.header--title {
    font-size: 1.5rem;
    flex-grow: 1;
    text-align: center;
}

.form {
    display: grid;
    grid-template: 40px 40px / 1fr 1fr;
    gap: 17px;
    margin-bottom: 17px;
}

.form--input {
    font-family: "Karla", sans-serif;
    border-radius: 5px;
    border: 1px solid #D5D4D8;
    text-indent: 5px;
}

.form--button {
    grid-column: span 2;
    justify-self: center;
    width: 60%;
    font-family: "Karla", sans-serif;
    border-radius: 5px;
    background: linear-gradient(90deg, #3E8EF7 1.18%, #00A1C1 100%);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 1.2rem;
    transition: background-color 0.3s;
}

.form--button:hover {
    background: linear-gradient(90deg, #3E8EF7 1.18%, #00A1C1 80%);
}

.meme {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 20px;
}

.meme--image {
    max-width: 100%;
    max-height: 600px;
}

.meme--text {
    position: absolute;
    width: 100%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

.bottom {
    bottom: 0;
}

.top {
    top: 0;
}
